### single files ###
*.log

### folders ###

.data/
.torrents/

# movie torrnet locaion
.cache/
!.cache/.gitkeep

# movie torrnet locaion
.data/
!.data/.gitkeep

# project dependencies
node_modules

# build folders
dist
build

# coverage reports
.nyc_output/
coverage
.coveralls.yml

